// Variables
$font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$stay-duration: 5s;
$transition-duration: 3s;
$total-duration: calc(#{$stay-duration} + #{$transition-duration});
$animation-duration: calc(#{$total-duration} * 4);

// Global
body {
    animation: carrousel $animation-duration infinite;

    background: {
        image: url('../Images/bg-img-1.png');
        position: center;
        repeat: no-repeat;
        size: cover;
    }

    color: #fff;
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 0;
    min-height: 100vh;
}

@keyframes carrousel {

    0%,
    25% {
        background-image: url('../Images/bg-img-1.png');
    }

    25%,
    50% {
        background-image: url('../Images/bg-img-2.jpg');
    }

    50%,
    75% {
        background-image: url('../Images/bg-img-3.jpg');
    }

    75%,
    100% {
        background-image: url('../Images/bg-img-4.jpg');
    }
}

// Overlay
.overlay {
    background: linear-gradient(to top, rgba(245, 0, 41, 0.7) 0%, rgba(245, 0, 41, 0) 100%), rgba(0, 0, 0, 0.16);
    bottom: 0;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

// Contenu
.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    padding: 75px;
    z-index: 2;

    // Compte à rebours
    .countdown {
        margin-top: 100px;
        text-align: center;

        h1 {
            font-size: 56px;
        }
    }

    //  Description
    .description {
        text-align: center;
        margin: 10px 250px 10px;

        p {
            font-size: 18px;
            padding: 0 150px 0;
        }
    }

    // Contact
    .contact {
        display: flex;
        justify-content: center;
        gap: 200px;
        padding: 20px;

        a {
            color: white;

            p {
                margin-block-start: 0;
                margin-block-end: 0;
            }
        }

        .mail,
        .phone,
        .place {
            padding: 20px;
            text-align: center;

            &-icon {
                font-size: 50px;
                margin: 5px;
            }

            &-link {
                margin-top: 50px;
            }
        }
    }

    // Carrousel
    .carousel {
        align-items: end;
        display: flex;
        flex-grow: 1;
        gap: 20px;
        justify-content: space-around;
        padding: 0 150px 0;

        .line {
            border-bottom: solid 4px #fff;
            height: 50px;
            width: 20vw;
        }
    }
}